tendoo-installer
sitemap.xml
tendoo-assets/img/avatars
tendoo-assets/
tendoo-modules/
tendoo-core/
vendor/
application/cache/
!application/cache/index.html
!application/cache/.htaccess
application/config/database.php
application/modules/*
!application/modules/aauth/
!application/modules/dashboard/
!application/modules/post_type/
!application/modules/blog/
public/modules/*
vendor/
composer.lock