application/cache/
application/config/base_url.php
!application/cache/index.html
!application/cache/.htaccess
!application/cache/app/index.html
application/config/database.php
storage/
vendor/
.env
bootstrap/

#ignoring unmerged files
application/temp/*
public/upload/*
composer.json
