# CUSTOM TENDOO URL CONDITION #
Options -Indexes
RewriteEngine on
RewriteCond $1 !^(index\.php|tendoo_assets/|tendoo_modules/|tendoo_themes/|robots\.txt|sitemap\.(xml|txt))
RewriteRule ^(.*)$ index.php/$1 [L]