#tendoo_userbar{
  position:fixed;
  top:0;
  width:100%;
  left:0;
  z-index:10000;
  background: #fff;
  border-bottom:solid 2px #555;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#tendoo_userbar ul {
  text-align: left;
  float:left;
  display: block;
  margin: 0;
  padding:0;
  list-style: none;
}
#tendoo_userbar ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#tendoo_userbar ul li a{
  display:block;
  padding: 10px 15px;
  color:#333
}
#tendoo_userbar ul li:hover {
  background: #555;
  color: #fff;
}
#tendoo_userbar ul li ul {
  padding: 0;
  position: absolute;
  top: 38px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#tendoo_userbar ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  padding:0;
}
#tendoo_userbar ul li ul li a{
	width:100%;
	display:block;
	padding: 10px 15px;
}
#tendoo_userbar ul li ul li:hover { background: #666; }
#tendoo_userbar ul li:hover a{ color: #FFF; }
#tendoo_userbar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#tendoo_userbar .logo
{
	float:left;
}
#tendoo_userbar .logo img
{
	height:30px;
	margin:4px;
}
#tendoo_userbar .counter
{
	padding:2px 6px;
	background:#F90;
	border-radius:10px;
}