/* Social icons ------------------------------*/

.aim{ background: url(../img/social/aim_32.png); }
.apple{ background: url(../img/social/apple_32.png); }
.bebo{ background: url(../img/social/bebo_32.png); }
.blogger{ background: url(../img/social/blogger_32.png); }
.brightkite{ background: url(../img/social/brightkite_32.png); }
.cargo{ background: url(../img/social/cargo_32.png); }
.delicious{ background: url(../img/social/delicious_32.png); }
.designfloat{ background: url(../img/social/designfloat_32.png); }
.designmoo{ background: url(../img/social/designmoo_32.png); }
.deviantart{ background: url(../img/social/deviantart_32.png); }
.digg{ background: url(../img/social/digg_32.png); }
.dopplr{ background: url(../img/social/dopplr_32.png); }
.dribbble{ background: url(../img/social/dribbble_32.png); }
.email{ background: url(../img/social/email_32.png); }
.ember{ background: url(../img/social/ember_32.png); }
.evernote{ background: url(../img/social/evernote_32.png); }
#social-bar .facebook{ background: url(../img/social/facebook_32.png); }
.flickr{ background: url(../img/social/flickr_32.png); }
.forrst{ background: url(../img/social/forrst_32.png); }
.friendfeed{ background: url(../img/social/friendfeed_32.png); }
.gamespot{ background: url(../img/social/gamespot_32.png); }
.google{ background: url(../img/social/google_32.png); }
.google_plus{ background: url(../img/social/google_plus_32.png); }
.google_voice{ background: url(../img/social/google_voice_32.png); }
.google_wave{ background: url(../img/social/google_wave_32.png); }
.googletalk{ background: url(../img/social/googletalk_32.png); }
.gowalla{ background: url(../img/social/gowalla_32.png); }
.grooveshark{ background: url(../img/social/grooveshark_32.png); }
.ilike{ background: url(../img/social/ilike_32.png); }
.komodomedia_azure{ background: url(../img/social/komodomedia_azure_32.png); }
.komodomedia_wood{ background: url(../img/social/komodomedia_wood_32.png); }
.lastfm{ background: url(../img/social/lastfm_32.png); }
.linkedin{ background: url(../img/social/linkedin_32.png); }
.mixx{ background: url(../img/social/mixx_32.png); }
.mobileme{ background: url(../img/social/mobileme_32.png); }
.mynameise{ background: url(../img/social/mynameise_32.png); }
.myspace{ background: url(../img/social/myspace_32.png); }
.netvibes{ background: url(../img/social/netvibes_32.png); }
.newsvine{ background: url(../img/social/newsvine_32.png); }
.openid{ background: url(../img/social/openid_32.png); }
.orkut{ background: url(../img/social/orkut_32.png); }
.pandora{ background: url(../img/social/pandora_32.png); }
.paypal{ background: url(../img/social/paypal_32.png); }
.picasa{ background: url(../img/social/picasa_32.png); }
.playstation{ background: url(../img/social/playstation_32.png); }
.plurk{ background: url(../img/social/plurk_32.png); }
.posterous{ background: url(../img/social/posterous_32.png); }
.qik{ background: url(../img/social/qik_32.png); }
.readernaut{ background: url(../img/social/readernaut_32.png); }
.reddit{ background: url(../img/social/reddit_32.png); }
.roboto{ background: url(../img/social/roboto_32.png); }
.rss{ background: url(../img/social/rss_32.png); }
.sharethis{ background: url(../img/social/sharethis_32.png); }
.skype{ background: url(../img/social/skype_32.png); }
.stumbleupon{ background: url(../img/social/stumbleupon_32.png); }
.technorati{ background: url(../img/social/technorati_32.png); }
.tumblr{ background: url(../img/social/tumblr_32.png); }
#social-bar .twitter{ background: url(../img/social/twitter_32.png); }
.viddler{ background: url(../img/social/viddler_32.png); }
.vimeo{ background: url(../img/social/vimeo_32.png); }
.virb{ background: url(../img/social/virb_32.png); }
.windows{ background: url(../img/social/windows_32.png); }
.wordpress{ background: url(../img/social/wordpress_32.png); }
.xing{ background: url(../img/social/xing_32.png); }
.yahoo{ background: url(../img/social/yahoo_32.png); }
.yahoobuzz{ background: url(../img/social/yahoobuzz_32.png); }
.yelp{ background: url(../img/social/yelp_32.png); }
.youtube{ background: url(../img/social/youtube_32.png); }
.zootool{ background: url(../img/social/zootool_32.png); }


/*

The list of icon files in 16px

 aim_32.png
 apple_32.png
 bebo_32.png
 blogger_32.png
 brightkite_32.png
 cargo_32.png
 delicious_32.png
 designfloat_32.png
 designmoo_32.png
 deviantart_32.png
 digg_32.png
 dopplr_32.png
 dribbble_32.png
 email_32.png
 ember_32.png
 evernote_32.png
 facebook_32.png
 flickr_32.png
 forrst_32.png
 friendfeed_32.png
 gamespot_32.png
 google_32.png
 google_voice_32.png
 google_wave_32.png
 googletalk_32.png
 gowalla_32.png
 grooveshark_32.png
 ilike_32.png
 komodomedia_azure_32.png
 komodomedia_wood_32.png
 lastfm_32.png
 linkedin_32.png
 mixx_32.png
 mobileme_32.png
 mynameise_32.png
 myspace_32.png
 netvibes_32.png
 newsvine_32.png
 openid_32.png
 orkut_32.png
 pandora_32.png
 paypal_32.png
 picasa_32.png
 playstation_32.png
 plurk_32.png
 posterous_32.png
 qik_32.png
 readernaut_32.png
 reddit_32.png
 roboto_32.png
 rss_32.png
 sharethis_32.png
 skype_32.png
 stumbleupon_32.png
 technorati_32.png
 tumblr_32.png
 twitter_32.png
 viddler_32.png
 vimeo_32.png
 virb_32.png
 windows_32.png
 wordpress_32.png
 xing_32.png
 yahoo_32.png
 yahoobuzz_32.png
 yelp_32.png
 youtube_32.png
 zootool_32.png
*/