<?xml version="1.0"?>
<application>
	<details>
		<namespace>helloworld</namespace>
		<version>1.0</version>
		<author>Tendoo Dev Team</author>
		<description>Sample Description</description>
		<main>helloWorld.php</main>
		<name>Hello World Sample Module</name>
	</details>
	<permission>
		<namespace>call_foreign</namespace>
		<title>Call Foreign</title>
		<description>Call Foreign</description>
	</permission>
	<permission>
		<namespace>call_foreign</namespace>
		<title>Call Foreign</title>
		<description>Call Foreign</description>
	</permission>
</application>