<?xml version="1.0"?>
<application>
	<details>
		<name>Theme Manager</name>
		<namespace>theme_mod</namespace>
		<description>This module add theme support for Tendoo CMS</description>
		<author>Blair Jersyer</author>
		<version>8.2</version>
		<language>/language</language>
		<main>theme_mod.php</main>
	</details>
</application>