.bg-color-green
{
	background:#09A800;
	color:#FFF;
}
.bg-color-yellow
{
	background:#E1E100 !important;
	color:#FFF;
}
.bg-color-red
{
	background:#CD0601;
	color:#FFF;
}
.bg-color-blue
{
	background:#0061C1;
	color:#FFF;
}
.tendoo_success
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#00a300;
	color:#EEE;
	margin-bottom:10px;
}
.tendoo_notice
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#6CB6FF;
	color:#FFF;
	margin-bottom:10px;
}
.tendoo_error, .tendoo_warning
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#FF5B5B;
	color:#FFF;
	margin-bottom:10px;
}
.admin_widget textarea
{
	margin:0 !important;
	width:98% !important; 
	padding:1% !important;
}
.style_1 label
{
	line-height:20px;
	display:block;
}
.style_1 textarea
{
	min-height:200px;
	padding:1%;
	width:98%;
}
.paragraph
{
	line-height:15px;
	border:dashed 1px #999;
	background:#EEE;
	padding:1%;
	color:#666;
}
.slider_panel
{
	background:rgba(0,0,0,0.5);
	font-size:12px;
	color:#EEE;
	margin-bottom:0;
	position:absolute;
	width:100%;
	bottom:0px;
	height:80px;
	padding:10px;
}
/*
.bg-primary
{
	background:#B30000;
}
.bg-primary .nav li>a
{
	color:#FDD;
}
.btn
{
	border:solid 1px #840000;
	box-shadow:0px 0px 1px #840000;
	display:inline-block;
}
.btn-primary
{
	background:#B30000;
	color:#FFF;
	background:-webkit-linear-gradient(top,#D30000,#B30000);
	background:-moz-linear-gradient(top,#D30000,#B30000);
}
.btn-primary:active
{
	box-shadow:inset 0px 0px 3px #6F0000;
	color:#DDD;
	background:#9A0000;
}
.btn-white
{
	background:#EEE;
	border-radius:2px;
	-webkit-border-radius:2px;
	-ms-border-radius:2px;
	-moz-border-radius:2px;
	font-weight:600;
	box-shadow:0px 0px 1px #BBB;
	
	font-size:12px;
	color:#333;
}
*/
.icon-grid
{
}
.icon-grid .G-icon
{
	width:64px;
	height:64px;
	display:inline-block;
	margin-bottom:5px;
	margin-top:5px;
}
.tendoo-icon-set
{
	width:100px;
	height:120px;
	border:solid 1px #DDD;
	border-right:solid 3px #DDD;
	border-bottom:solid 3px #DDD;
	border-radius:5px;
	text-align:center;
	box-shadow: linear-gradient(top #EEE #333);
	float:left;
	margin: 0 20px 20px 0;
}
.tendoo-icon-set .badge
{
	position:relative;
	float:right;
	right:-8px;
	top:-8px;
}
.tendoo-icon-set:hover
{
	cursor:pointer;
	background:#F2F2F2;
}
.smh
{
	margin-top:0 !important;
}
.smb
{
	margin-bottom:0 !important;
}
