@charset "utf-8";
/* CSS Document */
body
{
	background: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGklEQVR42mMQhAEJCQkGOAtIMsBZIA6cBQQAW5wDhYzvi1MAAAAASUVORK5CYII%3D) repeat;
}
@media (min-width: 1200px) {
.page-region-content
{
	padding-right:10px !important;
}
#body
{
	float:left;
	width:100%;
	padding-bottom:95px;
	background:#F2F2F2 url(../img/logo_4.png) no-repeat 500px 100px fixed;
}
#footer
{
	width:100%;
	float:left;
	height:50px;	
}