<?xml version="1.0"?>
<application>
	<details>
		<name>PingBack &amp; Trackback</name>
		<namespace>pingback_trackback</namespace>
		<version>1.0</version>
		<author>Blair Jersyer</author>
		<description>Add PingBack feature to Tendoo CMS</description>
		<main>pingback_trackback.php</main>
	</details>
</application>